html, body{
    background-color: #21232A;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    padding: 20px;
}

.FirstButton{
    background-color: rgba(255, 0, 98, 0.74);
    border-radius: 10px;
    border: solid rgb(31, 1, 88) 5px;
    color:rgb(31, 1, 88);
    font-family: Impact,
    Haettenschweiler,
    'Arial Narrow Bold',
    sans-serif;
    font-size: 1.3rem;
    margin: 10px;
    padding: 15px;
    width: 100%;
}